<!DOCTYPE html>
<html lang="en">

<head>
   {{>headerlinks}}

</head>

<body>
    {{>navbar}}

    <!-- main header -->
    <div class="container-fluid main-header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                
                <div class="row">
                    <!-- right div -->
                    <div class="col-md-12 col-12 main-header-left align-items-center">
                        <figure class="errimg">
                            <img src="image/errpage1.jpg" alt="Akash" class="img-fluid" title="Akas Tiwari"  >
                        </figure>
                        <h1>{{errorMsg}}</h1>
                        <p>sorry for inconvinence</p>
                        
                        <a href="/" ><button>go back</button></a>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>

    {{>footer}}

</body>

</html>