<!DOCTYPE html>
<html lang="en">

<head>
   {{>headerlinks}}

</head>

<body>
    {{>navbar}}

    <!-- main header -->
    <div class="container-fluid main-header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                
                <div class="row">
                    <!-- right div -->
                    <div class="col-md-6 col-12 main-header-right align-items-center">
                        <figure>
                            <img src="image/MyAvatar.jpeg" alt="Akash" class="img-fluid" title="Akash Tiwari">
                        </figure>
                        
                    </div>
                    <!-- left div -->
                    <div class="col-md-6 col-12 main-header-left">
                        <p>It's me AKASH TIWRI</p>
                        <h1>i am a   <span class="text-clr"> MERN stack developer </span>and  a <span class="text-clr"> computer science </span> student</h1>
                        <a href="/https://connect-tiwari.great-site.net/ " target="Akash"><button>Aout me</button></a>
                    </div>

                </div>


            </div>
        </div>
    </div>

    {{>footer}}

</body>

</html>